@font-face {
    font-family: "helvetica";
    src: url("./Assets/Fonts/helvetica/Helvetica.ttf");
}

@font-face {
    font-family: "helvetica-bold";
    src: url("./Assets/Fonts/helvetica/Helvetica-Bold.ttf");
}

@font-face {
    font-family: "freight-text-pro-semibold";
    src: url("./Assets/Fonts/freight-text-font-family/FreightTextProsemibold-Regular.ttf");
}

body{
    background-color: white;
    margin-left:60px;
    margin-right:60px;
}

iframe{
    width :1000px;
    height :1100px;
    margin-top: 20px;
    border: none;
}

.border{
    width: 1000px;
    margin: auto;
    border: 1px solid black;
    background-color: white;
}

.button-container{
    display: flex;
    align-items: center;
    width: 99%;
    margin: auto;
    justify-content: space-between;
}

.button{
    color: white;
    background-color: rgb(0 48 135);
    font-family: "helvetica-bold", sans-serif;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 0px;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
    text-align: center;
    outline: none;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(80,116,188);
}

.title-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 48 135);
    color: white;
    margin: 15px;
    border-radius: 5px;
}

.title-container h1{
    font-family: "freight-text-pro-semibold", sans-serif;
    text-align: center;
    font-size: 64px;
    color: white;
    margin: 0px;
    margin-bottom: 9px;
}

.title-container img{
    position: absolute;
    right: 0px;
    width: auto;
    height: 90px; 
}

.paragraph1-container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.paragraph1-container img{
    height: auto;
    width: 300px;
}

.paragraph1-textbox{
    font-family: "helvetica", sans-serif;
    background-color: rgb(232, 232, 232);
    padding: 0px 14px 0px 10px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}

.contacts-container{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    justify-content: space-around;
}

.contactsimage{
    display: flex;
    gap: 15px;
    align-items: center;
}

.contactsimage img{
    height: auto;
    width: 90px;
    border-radius: 5px;
}

.contactsimage p{
    font-family: "helvetica", sans-serif;
    font-size: 14px;
    background-color: rgb(232, 232, 232);
    padding: 10px 10px 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 200px;
    border-radius: 5px;
}

.enrollment-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    gap: 10px;
}

.enrollment-textbox{
    font-family: "helvetica", sans-serif;
    background-color: rgb(232, 232, 232);
    padding: 0px 4px 0px 14px;
    width: 300px;
    margin-left: 25px;
    border-radius: 5px;
}

.en

.googleform-container{
    text-align: center;
    width: 1000px;
}

#enrollment-form{
    text-align: center;
    margin-right: 25px;
}

#conanima-image-1{
    display: flex;
    justify-content: center;
    width: 960px;
    margin-bottom: 10px;
    margin: auto;
    border-radius: 5px;
}

#conanima-image-2{
    display: flex;
    align-self: center;
    margin-right: 25px;
    border-radius: 5px;
    height: auto;
}

#conanima-image-3{
    display: flex;
    margin-left: 25px;
    width: 300px;
    height: auto;
    border-radius: 5px;
}

#conanima-image-4{
    display: flex;
    align-items: flex-start;
    margin-right: 25px;
    width: 300px;
    height: auto;
    border-radius: 5px;
}

#footeremail{
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 48 135);
    color: white;
    margin-top: 10em;
    font-family: "helvetica",sans-serif;
    text-align: center;
    font-size: 10px;
}